/* #242E37 */
body{
  background-color: black;
}
h2 a{
  text-decoration: none;
  color: orange;
}
#footer_container{
  width: 1100px;
  margin:0 auto ;
  height: 300px;
  background-color: #242E37;
  color: orange;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 20px;

}

#left_info{
  width: 76%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
}
#left_info #header{
 padding-left: 20px;
}
#right_info{
  display: flex;
  align-items: center;
  gap: 10px;
}
.image{
  width: auto;
  height: auto;
  margin-left: 0;
}
.image img{
  width: 50px; 
  height: auto;
  margin: 0; 
  padding: 0;
}